<div class="row m-0">
    <div class="col-xs-6">    
        <img id="i1" src='./final/luna.png'>
    </div>
    <div class="col-xs-6">
        <img id="i2" src="./final/pumpkin.png">
    </div>
</div>

<div class="row m-0">
    <div class="col-xs-6">    
        <img id="i3" src='./final/mom.png'>
    </div>
    <div class="col-xs-6">
        <img id="i4" src="./final/dad.png">
    </div>
</div>

<div class="row m-0">
    <div class="col-xs-6">    
        <img id="i5" src='./final/scarlett.png'>
    </div>
    <div class="col-xs-6">
        <img id="i6" src="./final/greg.png">
    </div>
</div>
    
<div class="row m-0">
    <div class="col-xs-6">    
        <img id="i7" src='./final/mary.png'>
    </div>
    <div class="col-xs-6">
        <img id="i8" src="./final/wendy.png">
    </div>
</div>
    
