.homepage {
  background-color: lightblue;
  width: 100%;
  .row {
    div {
      text-align: center;
      
      img {
        width: 55%;
        max-width: 55%;
        margin: 0 auto;
      }
    }
  }
}
